<form action="/issue_book" method="post">
    <label>Choose a book</label>
    <select name="book_isbn">
        {% for book in books%}
        <option value="{{ book.isbn}}">{{ book.title }}</option>
        {% endfor %}
    </select>
    <label>Choose a member</label>
    <select name="member_id">
        {% for member in members %}
        <option value="{{ member.id }}"> {{ member.name }}</option>
        {% endfor %}
    </select>
    <input type="number" name="quantity_borrowed"><label> number borrowed</label>
    <input type="submit" name="submit">
</form>