{% extends 'index.html' %}
{% block body %}
<a href="/get_add_member">add member</a>
<div class="p-3 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-3">
  The Members registred are:
{% block table %}
<table class="table table-striped">
    <thead>
    <tr scope="row">
        <th>id</th>
        <th>name</th>
        <th>account_balance</th>
        <th>action view</th>
        <th>action update</th>
        <th> action delete</th>
    </tr>
    </thead>
    {% for member in members %}
    <tr scope="row">
        <td> <span>{{ member.id }} </span> </td> <br>
        <td> <span> {{ member.name }} </span> </td>
        <td> <span> {{ member.account_balance }} </span> </td>
        <td>
            <a href="/members/{{ member.id }}">View member</a>
            </td>
        <td>
            <a href ="/get_update_members/{{ member.id}}"> update member</a>
        </td>
        <td>
            <a href="/members/delete/{{ member.id }}">delete member</a>
        </td>
    </tr>
     {% endfor %}
</table>
{% endblock %}
    </div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

{% endblock%}