{% extends "index.html" %}

{% block body %}

    <div class="d-inline p-2 bg-primary text-white"> Title  </div>
    <div class="d-inline p-2 bg-dark text-white">{{book.title}}</div>
    </br></br>
    <div class="d-inline p-2 bg-primary text-white">Author </div>
    <div class="d-inline p-2 bg-dark text-white">{{ book.author }}</div>
    </br></br>
    <div class="d-inline p-2 bg-primary text-white">ISBN </div>
    <div class="d-inline p-2 bg-dark text-white">{{ book.isbn }}</div>
    </br></br>
    <div class="d-inline p-2 bg-primary text-white">Book_Price </div>
    <div class="d-inline p-2 bg-dark text-white">{{ book.book_price }}</div>
    </br></br>
    <div class="d-inline p-2 bg-primary text-white">Quantity</div>
    <div class="d-inline p-2 bg-dark text-white">{{ book.quantity_available }}</div>
    </br></br>


{% endblock %}