{% extends "index.html" %}

{% block body %}


    <div class="d-inline p-2 bg-primary text-white"> id  </div>
    <div class="d-inline p-2 bg-dark text-white">{{member.id}}</div>
    </br></br>
    <div class="d-inline p-2 bg-primary text-white">name </div>
    <div class="d-inline p-2 bg-dark text-white">{{ member.name }}</div>
    </br></br>
    <div class="d-inline p-2 bg-primary text-white">account_balance </div>
    <div class="d-inline p-2 bg-dark text-white">{{ member.account_balance }}</div>


{% endblock %}